<div id="dialog-modal" class="modal" materialize="modal" [materializeParams]="materializeParams" [materializeActions]="modalActions">
	<div class="modal-content">
	  <h4>{{info.header}}</h4>
	  <p>{{info.content}}</p>
	</div>
	<div *ngIf="type === 'information'" class="modal-footer">
	  <a class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	</div>
	<div *ngIf="type === 'confirmation'" class="modal-footer">
	  <a class="modal-action modal-close waves-effect waves-gray btn-flat">Cancel</a>
	  <a class="modal-action modal-close waves-effect waves-red btn-flat" (click)="(actionList.confirm)()">OK</a>
	</div>
</div>